@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1{
    color:white;

}
#images{
    width:300px;
    height:300px;
    border-radius:50%;
}
#body{
    background-image:url("../images/img1.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

}
p{
    color:white;
}
.showcase{
    height:auto;
    background-color:black;

   

}
.nav{
    width: 100%;
    background-color: black;
 
    
    justify-content: space-around;



}
.nav  li{
   display: inline-block;
   list-style-type: none;
    padding:10px,20px;
  


}
.nav  a{
    text-decoration: none;
    padding: 10px 30px;
    color: white;

    
    
   
    
}
.nav  a:hover{
    color: white;
    cursor:pointer;
    background-color: blue;

}


h2{
    color:red;
}

.errormessage{
    height: 100vh;
    background-color: rgb(0, 255, 255, 0.35);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#error{
    color:rgb(233, 25, 60);
    font-size: xx-large;
    font-family:Pacifico;

    
}
